extends ../layout.pug

block content
  h1= t('edit_task')
  form(method='POST', action=`/tasks/${task.id}?_method=PATCH`)
    .mb-3
      label.form-label(for='data_name')= t('name')
      input.form-control(type='text', id='data_name', name='data[name]', value=task.name)
    .mb-3
      label.form-label(for='data_description')= t('description')
      textarea.form-control(id='data_description', name='data[description]')= task.description
    .mb-3
      label.form-label(for='data_statusId')= t('status')
      input.form-control(type='number', id='data_statusId', name='data[statusId]', value=task.statusId)
    .mb-3
      label.form-label(for='data_executorId')= t('executor')
      input.form-control(type='number', id='data_executorId', name='data[executorId]', value=task.executorId)
    button.btn.btn-primary(type='submit')= t('submit')
