extends ../layout

block content
  h1= t('statuses')

  a.btn.btn-primary(href="/statuses/new")= t('createStatus')

  table.table.mt-3
    thead
      tr
        th ID
        th= t('name')
        th
    tbody
      each status in statuses
        tr
          td= status.id
          td= status.name
          td
            a.btn.btn-sm.btn-secondary(href=`/statuses/${status.id}/edit`) Edit
